.st-clr2 {
  width: 16.6666666666666%;
  font-size: 16px;
  text-align: center;
}

#linea-grande{
  width: 156px;
  margin-left: 44%;
  margin-top: -70px;
}
#ce_1_text{
	  margin-top: 5%;
	  text-align: center;
}

.index2{
	text-align: center
}
#index, #uno, #dos, #tres, #cuatro, #cinco, #seis {
  margin-top: 3%;
}

.right_class{
  right: -11%;

}
#modal_fuentes{
  text-align: center;
}
