@font-face{
  font-family: "american";
  src: url("fonts/american-typewriter.woff") format("woff");
}
@font-face{
  font-family: "american-bold";
  src: url("fonts/american_typewriter_bold_bt.woff") format("woff");
}
@font-face{
  font-family: "american-condensed";
  src: url("fonts/american-typewriter-condensed-bold.woff") format("woff");
}
body{
  background: url("images/Fondo.png") no-repeat top;
  font-size: 0px;
}
#subhead {
  color: #CC3366;
  font-family: "american-condensed";
  font-size: 42px;
}
#head{
  color: #CC3366;
  font-family: "american-condensed";
  font-size: 70px;
}
nav{
  padding: 0;
}
.menu{
  display:block;
  padding: 0;
}

.menu li{
  display: inline-block;
  position: relative;
  z-index:100;
}
.txt-men{
  width: 20%;
}
.menu li a {
  font-weight:600;
  text-decoration:none;
  padding:11px;
  display:block;
  color:#006699;
  font-family: "american-bold";
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.st-clr{
  width: 14%;
  font-size: 18px;
}
.st-clr:hover{
  color:#006699;
  background:#9CA3DA;
}
.slct-opt{
  color:#006699;
  background:#9CA3DA;
  border-bottom: 4px solid #CC3366;
}
.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 43px;
  left: 0px;
  background: #f4f6f0;
}

#subtitle{
  color: #CC3366;
  text-align: center;
}
/* display second level menu on hover */
.menu li:hover > ul{ display: block;}

.menu ul li {
  display:block;
  float: none;
  background:none;
  margin: 0;
  padding: 10%;
  font-family: "american-regular";
}
.bigger{
  margin-top: 13% !important;
}
.texto{
  font-family: 'american';
  color: #006699;
  font-size: 24px;
}
#sec-int{
  margin-top: 14%;
}
.red{
  color: #CC3366;
}
#inicio{
  margin-left: 1%;
}
u{
  text-decoration: none;
  background-color: #f4f600;
}
.recuadros{
  color: #CC3366;
  font-size: 12px;
  margin-top: 7%;
  margin-bottom: 25%;
}
.recuadros img, .recuadros p{
  position: absolute;
}
.recuadros p{
  width: 77%;
  margin-left: 10%;
  margin-top: 6%;
  margin-bottom: 25%;
}
.rectangulo{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-color: #CC3366;
  color: #CC3366;
  font-size: 18px;
  border: 2px solid;
  margin-top: 3%;
}
@media (max-width:768px) {
  body{
    width:768px;
  }
}
