#linea-grande{
  width: 110px;
  margin-left: 45%;
  margin-top: -70px;
}
.txt-men{
  width: 100%;
}
.st-clr{
  width: 20%;
  text-align: center;
}
#index{
  margin-top: 4%;
}
#index p{
  margin-top: 4%;
}
#cero, #uno, #dos, #tres, #cuatro, #cinco{
  margin-top: 3%
}
#cero{
  margin-right: 16%;
}
