#linea-grande{
  width:228px;
  margin-left: 41%;
  margin-top: -70px;
}
.txt-men{
  width: 100%;
}
.st-clr{
  width: 20%;
  text-align: center;
}
#index{
  margin-top: 4%;
}
#index p{
  margin-top: 4%;
}
#cero, #uno, #dos, #tres, #cuatro, #cinco{
  margin-top: 3%
}
#subtitle{
  color: #CC3366;
}
#cero{
  margin-right: 16%;
}
.recuadros p{
  width: 77%;
  margin-left: 10%;
  margin-top: 6%;
}
#uno .recuadros p{
  margin-top: 2%;
}
@media (max-width: 1100px){
  #linea-grande{
    margin-left: 38%;
  }
}
@media (max-width: 900px){
  #inicio{
    margin-top: 10%;
  }
}
